#main{
	width: 890px !important;
}

#main blockquote {
	width: 100% !important;
}

body { 
	font-size: 80%; 
}

#portfolio.three_col ul{
	width: 950px !important;
}

.menu_footer{
	width: 600px;
}

.menu_footer li{
	display: inline;
	margin-right: 10px;
	

}

.menu_footer a{
	border-bottom: none !important;
	border-right: 1px dotted #1c692a;
	padding-right: 10px;
}

.header-menu-divider{
	width:100%;
}

.logo{
	padding-bottom: 30px;
}

.logo a{
	font-family: 'Exo 2', sans-serif;
	font-size: 70px;
	padding-top: 70px;
	color: #502334;
	margin-bottom: 28px;
	font-weight: bold;
}

.logo span{
	font-size: 20px;
	padding: 10px;
}

.last-element a{
	border: none;
}