/*Demo - Social Icons*/
    .widgets-field .social-icon {
        background-image: url(images/demo/social-icons.png);
        background-repeat: no-repeat;
        border-bottom: 0 none;
        display: block;
        float: left;
        height: 36px;
        margin-right: 7px;
        text-indent: -9999px;
        width: 34px;
    }
    .social-icon.facebook {
        background-position: 0 0;
    }
    .social-icon.twitter {
        background-position: -40px 0;
    }
    .social-icon.flickr {
        background-position: -81px 0;
    }
    .social-icon.vimeo {
        background-position: -121px 0;
    }
    .social-icon.rss {
        background-position: -161px 0;
    }